DB_USERNAME=your-database_username-here
DB_PASSWORD=your-database-password-here
DB_NAME=your-database-name-here
DATABASE_URL = "postgresql://${DB_USERNAME}:${DB_PASSWORD}@pgdb:5432/${DB_NAME}"
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ADMIN_USERNAME=your-username-here
ADMIN_EMAIL=your-email-here
ADMIN_PASSWORD=your-password-here